DATABASE_URL=postgresql://postgres:inpay123@inpay-db-dev:5432/postgres?schema=public
REDIS_URL=redis://inpay-webhook-redis-dev:6379

JWT_SECRET= secret
NODE_ENV= development

WEB_URL=http://127.0.0.1:5173
NEXT_PUBLIC_WEB_URL=http://127.0.0.1:5173
NEXT_PUBLIC_API_URL=http://127.0.0.1:3000/api/v1
NEXT_PUBLIC_HDFC_API_URL=http://127.0.0.1:3002/api/v1/hdfc

SMTP_HOST=smtp.gmail.com
SMTP_USER=
SMTP_PASS=
SMTP_HDFC_MAIL=hdfcdemo@yourdomain